<!DOCTYPE html>
<html>
  <head>
  </head>
<body>
<center>
<h2>SIGN UP</h2>
<%=msg%>
<form action="/user" method="POST">
  Name:<br>
  <input type="text" name="name" value="">
  <br>
  Email:<br>
  <input type="text" name="email" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<br>
<h2>LOGIN</h2>

<form action="/user/login" method="POST">
  Email:<br>
  <input type="text" name="email" value="">
  <br>
  Password:<br>
  <input type="text" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</center>
</body>
</html>
